<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="author" content="Kilian Mehringer">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/menu.css">

</head>

<body>

    <nav class="centerX">
        <ul>
            <li><a href="/">Start</a></li>
            <li><a href="/info/faq">FAQ</a></li>
            <li><a href="/impressum">Impressum</a></li>
        </ul>
    </nav>


    {{{body}}}
    <!-- Global Init -->
    <script src="/assets/js/main.js"></script>

</body>

</html>