<link rel="stylesheet" href="/assets/css/faq.css">
<title>{{title}}</title>


<section>

	<div class="faq-container centerX">
		
		<!-- Accordian -->
		<div class="acc">
			<h3 onclick="toggleFaqContent(this.parentNode)">Lorem ipsum dolor sit amet, consetetur?</h3>
			<div class="content">
				<div class="faq-content-inner">
					<p>
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
						ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
						dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
						sit amet.
					</p>
				</div>
			</div>
		</div>
		<!-- Accordian -->
		<div class="acc">
			<h3 onclick="toggleFaqContent(this.parentNode)">Lorem ipsum dolor sit amet, consetetur?</h3>
			<div class="content">
				<div class="faq-content-inner">
					<p>
						Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
						ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
						dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
						sit amet.
					</p>
				</div>
			</div>
		</div>
		<!-- Accordian -->
		<div class="acc">
			<h3 onclick="toggleFaqContent(this.parentNode)">Lorem ipsum dolor sit amet, consetetur?</h3>
			<div class="content">
				<div class="faq-content-inner">
					<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt
						ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
						dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor
						sit amet.
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="/assets/js/faq.js"></script>