<link rel="stylesheet" href="/assets/css/faq.css">
<title>{{title}}</title>


<section>

  	<div class="faq-container centerX">
  		
		<!-- Accordian -->
  		<div class="acc" >
  			<h3 onclick="toggleFaqContent(this.parentNode)">Wie können die Ladestationen bestellt werden?</h3>
  			<div class="content">
  				<div class="faq-content-inner">
  					<p>
						  Wenn Sie Interesse an einer Ladestation oder Wallbox haben kontaktieren sie uns gerne über das Kontaktformular, oder direkt per E-Mail an hallo@dadapower.de. 
						  Auch telefonisch können Sie uns erreichen unter: 069-120 184 690. Eine Bestellung ist direkt bei uns möglich.
					  </p>
  				</div>
  			</div>
  		</div>
	    <!-- Accordian -->
  		<div class="acc" >
  			<h3 onclick="toggleFaqContent(this.parentNode)">Können die Ladestationen privat gekauft werden?</h3>
  			<div class="content">
  				<div class="faq-content-inner">
  					<p>Selbstverständlich können privatpersonen Dadapower Ladelösungen bestellen. besonders die Wallboxen sind mit Privatpersonen im Blick entwickelt worden und perfekt für das laden eines privatwagens geeignet. 
						  Wenn Sie Interesse an einer Ladestation oder Wallbox haben kontaktieren sie uns gerne über das Kontaktformular, oder direkt per E-Mail an hallo@dadapower.de. 
						  Auch telefonisch können Sie uns erreichen unter: 069-120 184 690.
					  </p>
  				</div>
  			</div>
  		</div>
		<!-- Accordian -->
  		<div class="acc" >
  			<h3 onclick="toggleFaqContent(this.parentNode)">Kann ich meine Ladedaten Exportieren?</h3>
  			<div class="content">
  				<div class="faq-content-inner">
  					<p>Mit Ihrer Wallbox kommt ein Webinterface, welches Sie einfach über Ihren Browser aufrufen können. Dort können Ladevorgänge eingesehen, gefiltert und exportiert werden. Es können ein einfaches Pdf, eine .csv Datei für den Import in eine Exel Tabelle oder im Ladestations Format OCMF exportieren.</p>
  				</div>
  			</div>
  		</div>
		<!-- Accordian -->
  		<div class="acc" >
  			<h3 onclick="toggleFaqContent(this.parentNode)">Wie hoch ist das Porto?</h3>
  			<div class="content">
  				<div class="faq-content-inner">
  					<p>Wir liefern Ihre neue Wallbox in Deutschland für <b>16 €</b> direkt vor Ihre Haustür.</p>
  				</div>
  			</div>
  		</div>
		<!-- Accordion-->
  		<div class="acc" >
  			<h3 onclick="toggleFaqContent(this.parentNode)">Warum eine Wallbox und nicht einfach an der Steckdose laden?</h3>
  			<div class="content">
  				<div class="faq-content-inner">
  					<p>
              <b>Sicherheit</b>
              Haushaltssteckdosen sind nicht für eine derartige Dauerbelastung gedacht, wie sie das Laden eines Elektroautos fordert.
Je nachdem wie alt ihre Haustechnik und die verlegten Kabel sind, kann es zu schmelzenden Dosen, Kabelbränden und Kurzschlüssen kommen.
Eine Dadapower Wallbox wird mit passenden Kabeln installiert und schützt ihre Haustechnik durch eine eigene Absicherung. Zusätzlich kommuniziert sie mit dem Auto und reguliert die Ladeleistung mittels Lastenmanagement.
            </p>
            <br />
            <p>
              <b>Schnelleres Laden:</b> Eine Dadapower Wallbox oder Ladestation ist in der Lage alle drei Phasen ihres Hausanschlusses zu nutzen und kann so mit einer Leistung von 11kW Laden und nicht nur mit 3,7kW wie es eine normale Steckdose kann. Dies Resultiert in deutlich kürzeren Ladezeiten.
            </p>
            <br />
            <p>
              <b>Zukunftssicher und Anpassungsfähig:</b> Die langlebige und hochwertige Hardware, die in einer Dadapower Wallbox oder Ladestation verbaut ist, erlaubt es sich zukünftigen Ansprüchen der modernen Elektromobilität mittels Software-Updates anzupassen. Ob Bidirektionales Laden, das Elektroauto als Puffer für eine neue Solaranlage, neue gesetzliche Vorschriften, Anforderungen durch den Stromanbieter, oder das Rechtssichere abrechnen eines Firmenwagens.
All dies wird mit einer intelligenten Wallbox möglich.
            </p>
  				</div>
  			</div>
  		</div>

  		<!-- Accordian -->
  		<div class="acc" >
  			<h3 onclick="toggleFaqContent(this.parentNode)">Welche Fahrzeuge können geladen werden?</h3>
  			<div class="content">
  				<div class="faq-content-inner">
  					<p>
              Mit einer Dadapower Ladestation oder Wallbox können alle Fahrzeuge mit einer Typ-2 Ladebuchse genormt nach IEC 62196-2 geladen werden.
Die beinhaltet die meisten gängigen Plug-in-Hybrid und elektro Fahrzeuge.
            </p>
  				</div>
  			</div>
  		</div>

  		<!-- Accordian -->
  		<div class="acc" >
  			<h3 onclick="toggleFaqContent(this.parentNode)">Was ist die Plug &amp; Charge Funktion?</h3>
  			<div class="content">
  				<div class="faq-content-inner">
  					<p>Die Dadapower Wallboxen und Ladestationen verbauen einen Plug&amp;Charge Chip. Dieser ermöglicht es Fahrzeuge zu authentifizieren, welche eine Berechtigung haben an der Ladestation zu laden.
Ist ein Auto berechtigt eine Ladestation oder Wallbox mittels Plug&amp;Charge zu nutzen, kann das Fahrzeug einfach nur angesteckt werden und der Ladeprozess beginnt, ohne die Wallbox zu entriegeln, eine NFC Karte vorhalten zu müssen, oder einen Pin einzugeben.
            </p>
            <br />
            <p>
              Gleichzeitig wird allen anderen Fahrzeuge, die nicht Lade berechtigt sind das Laden untersagt. Diese benötigen dann eine manuelle Authentifizierung und Freischaltung der Ladestation mittels Pin, Karte oder App.
              <br /> Plug&amp;Charge macht das Laden einfacher und gleichzeigig sicherer.
            </p>
  				</div>
  			</div>
  		</div>

  		<!-- Accordian -->
  		<div class="acc" >
  			<h3 onclick="toggleFaqContent(this.parentNode)">Was ist OCPP und wofür wird es gebraucht?</h3>
  			<div class="content">
  				<div class="faq-content-inner">
  					<p>Alle Dadapower Wallboxen und Ladestationen bieten eine OCPP Schnittstelle an. Diese ermöglicht es externe Software zu nutzen um die Ladestation oder Wallbox zu kontrollieren. Besonders hilfreich wird OCPP wenn sie mehrere Ladepunkte besitzen.
              <br />
              Damit sie nicht an unsere Management-Software gebunden sind, und unsere Produkte auch in ihre bereits bestehenden Software Systeme integrieren können, haben wir unsere OCPP Schnittstelle für sie offen gemacht.
            </p>
  				</div>
  			</div>
  		</div>
  	</div>
</section>

<script src="/assets/js/faq.js"></script>
